{% extends "base.html" %}
{% block content %}

<h2 class="text-2xl font-bold mb-4">📦商品一覧</h2>

<div class="mb-4 text-right">
  <a href="/items/add" class="bg-amber-700 text-white px-4 py-2 rounded">
    ＋ 新規追加
  </a>
</div>


<table class="w-full bg-white shadow rounded border border-gray-300 border-collapse">
  <tr class="bg-gray-200">
    <th class="p-2 border border-gray-300">ID</th>
    <th class="p-2 border border-gray-300">商品名</th>
    <th class="p-2 border border-gray-300">単位</th>
    <th class="p-2 border border-gray-300">最低在庫</th>
    <th class="p-2 border border-gray-300">操作</th>
  </tr>

{% for item in items %}
<tr>
    <td class="p-2 border border-gray-300">{{ item.id }}</td>
    <td class="p-2 border border-gray-300">{{ item.name }}</td>
    <td class="p-2 border border-gray-300">{{ item.unit }}</td>
    <td class="p-2 border border-gray-300">{{ item.min_stock | int }}</td>
    <td class="p-2 border border-gray-300">
        <form action="/items/delete/{{ item.id }}" method="post"
              onsubmit="return confirm('本当に削除しますか？');">
            <button class="bg-red-500 text-white px-2 py-1 rounded">削除</button>
        </form>
    </td>
</tr>
{% endfor %}

</table>

{% endblock %}
